$main-color : #2cb696;
$text-color:#787c7b;
$light-gray:#a8abb1;
body{
    margin: 0;
}
a{
    text-decoration: none;
}
header {
    color: $text-color;
    border-bottom: solid 1px $light-gray;
    padding: 1rem;
    padding-bottom: 0;
    .main-header{
        display: flex;
        justify-content: space-between;
        a{
            color:gray;
            margin: .5rem;
        }
        h1{
            margin-top: 0.5rem;
            font-size: 1.5rem;
            color: black;
            .icon {
                color: $main-color;
            }
        }
        .items p{
            margin: 0.5rem;
        }
        button{
            border: none;
            background-color: $main-color;
            color: white;
            width: 5rem;
            height: 2rem;
            border-radius: .3rem;
            cursor: pointer;
        }
    }
    ul{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        :first-of-type{
            margin-left: 0;
        }
    }
    li{
        margin: 1rem;
        .badge{
            background-color: $text-color;
            padding: .1rem .3rem;
            border-radius: .3rem;
            color: white;
        }
    }
}
main{
    padding: 1.5rem;
    width: 90%;
    display: flex;
}
.left-navi{
    color: $text-color;
    flex: 1;
    order: 1;
    .acd-check{
        display: none;
    }
    label:before{
        content: '\f054';
        font-family: 'Font Awesome 5 Free';
        padding-right: 8px;
        font-weight: 900;
    }
    .acd-check:checked + label:before{
        content: '\f078';
    }
    .acd-content{
        color: $light-gray;
        height: 0;
        opacity: 0;
        visibility: hidden;
        ul{
            list-style: none;
        }
        li{
            cursor: pointer;
            &:hover{
                color: black;
                background-color: #e5e9e8;
            }
        }
    }
    .acd-label{
        cursor: pointer;
        &:hover{
            color: black;
        }
    }
    .acd-check:checked + .acd-label + .acd-content{
        visibility: visible;
        height: auto;
        opacity: 1;
    }
}
.right-navi{
    flex: 1;
    order: 3;
}
.small{
    font-size: small;
    margin-left: .5rem;
}
.gray{
    color: $text-color;
}
.icon-gray{
    font-size: 1.5rem;
    color: $light-gray;
}
.fa-book-open{
    margin-right: 1rem;
}
.good{
    color: red;
    font-size: .9rem;
    .fa-heart{
        margin-right: .3rem;
    }
}

.contents{
    flex: 2;
    order: 2;
    margin: 0 3rem;
    a{
        color: black;
        text-decoration: none;
    }
    img{
        width: 100%;
        height: auto;
    }
    .article{
        border-bottom: 1px solid $light-gray;
        padding: 3rem 0;
                .icon{
                    background-color: $main-color;
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                    text-align: center;
                    color: white;
                    display: table-cell;
                    vertical-align: middle;
                }

    }
    .article:first-child{
        padding-top:0;
    }
    .flex{
        display: flex;
        justify-content: space-between;
    }
}
.right-navi{
    .section{
        margin-top: 1rem;
        .flex{
            display: flex;
            align-items: center;
            p{
                margin-left: 1rem;
                margin-top: 1rem;
                font-size: .8rem;
                font-weight: bold;
                letter-spacing: .1rem;
                &:first-child{
                    margin: 0;
                    font-size: 1rem;
                }
            }
            img{
                margin-top: 1rem;
            }
        }
        .box{
            border: $light-gray 1px solid;
            border-radius: .2rem;
            margin-top: 1rem;

            img{
                width: 10rem;
                height: 3rem;
                border-top-left-radius: .2rem;
                border-bottom-left-radius: .2rem;
                margin: 0;
            }
            small{
                margin: 0 2rem;
                display: table-cell;
                text-align: center;
                .border{
                    border-bottom: 1px solid black;
                    font-weight: bold;
                    font-size: .7rem;
                }
                .small{
                    font-size: .5rem;
                }
            }
        }
        .recomend{
            justify-content: space-between;
            border-bottom: $light-gray 1px solid;
            img{
                padding-bottom: 1rem;
                width: 3rem;
                height: 3rem;
                border-radius: .2rem;
            }
        }
        .border-bottom{
            border-bottom: $light-gray 1px solid;
        }
        .theme{
            font-size: 1.3rem;
            margin-bottom: 0;
        }
    }
    .twitter{
        background-color: #f7f9f9;
        border-radius: .4rem;
        padding: .8rem;
        margin-top: 2.5rem;
        .small{
            margin-left: 0;
        }
        .title{
            font-size: 1.1rem;
            font-weight: bold;
            margin: 0;
        }
        .account-button{
            background-color: #55acee;
            border-color: #55acee;
            color: white;
            border-radius: .2rem;
            width: 93%;
            padding: .5rem;
            text-align: center;

        }
    }
    .footer{
        display: flex;
        margin-top: 2rem;
    }
}
.follow-img{
    width: 5rem;
    height: 3rem;
    border-radius: .2rem;
}
