$main-color : #2cb696;
$text-color:#787c7b;
$light-gray:#a8abb1;
$hover: #f2f8f7;
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
/*----------
header
-----------*/
/*-- PC --*/
header {
    color: $text-color;
    border-bottom: solid 1px $light-gray;
    padding: 1rem;
    padding-bottom: 0;
    .main-header{
        display: flex;
        justify-content: space-between;
        a{
            color:gray;
            margin: .5rem;
        }
        h1{
            margin-top: 0.5rem;
            font-size: 1.5rem;
            color: black;
            .icon {
                color: $main-color;
            }
        }
        .items p{
            margin: 0.5rem;
        }
        button{
            border: none;
            background-color: $main-color;
            color: white;
            width: 5rem;
            height: 2rem;
            border-radius: .3rem;
            cursor: pointer;
        }
    }
    ul{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        :first-of-type{
            margin-left: 0;
        }
    }
    li{
        margin: 1rem;
        &:first-child{
            color: black;
            border-bottom: black 2px solid;
            margin-bottom: 0;
        }
        &:hover{
            color: black;
            cursor: pointer;
            border-bottom: black 2px solid;
            margin-bottom: 0;
        }
        .badge{
            background-color: $text-color;
            padding: .1rem .3rem;
            border-radius: .3rem;
            color: white;
        }
    }
}
/*-- SP --*/
@media screen and (max-width:767px){
    header{
        padding: 0;
        .main-header{
            width: 90%;
            margin: 0 auto;
            .items{
                padding-top: 10px;
            }
        }
        nav{
            overflow: auto;
            white-space: nowrap;
            ul{
                padding:0 1rem;
                margin-right: 1rem;
                font-size: 13px;
            }
        }
    }
}
/*--------
メイン
---------*/

/*-- PC --*/
main{
    padding: 1.5rem;
    width: 90%;
    display: flex;
}

/*-- SP --*/
@media screen and (max-width:767px){
    main{
        padding: 0;
        width: 100%;
        display: block;
    }
}
/*------
leftナビ
-------*/
/*-- PC --*/
#left-navi{
    color: $text-color;
    flex: 1;
    order: 1;
    .acd-check{
        display: none;
    }
    label:before{
        content: '\f054';
        font-family: 'Font Awesome 5 Free';
        padding-right: 8px;
        font-weight: 900;
    }
    .acd-check:checked + label:before{
        content: '\f078';
    }
    .acd-content{
        color: $light-gray;
        height: 0;
        opacity: 0;
        visibility: hidden;
        ul{
            list-style: none;
        }
        li{
            cursor: pointer;
            &:hover{
                color: black;
                background-color: $hover;
            }
        }
    }
    .acd-label{
        cursor: pointer;
        &:hover{
            color: black;
        }
    }
    .acd-check:checked + .acd-label + .acd-content{
        visibility: visible;
        height: auto;
        opacity: 1;
    }
}
.small{
    font-size: small;
    margin-left: .5rem;
}
.gray{
    color: $text-color;
}
.action-buttons{
    font-size: 1.5rem;
    color: $light-gray;
}
.fa-book-open{
    margin-right: 1rem;
}
.good-button{
    color: red;
    font-size: .9rem;
    .fa-heart{
        margin-right: .3rem;
    }
}

#sp-left-navi{
    display: none;
}
/*-- SP --*/
@media screen and (max-width:767px){
    #left-navi{
        order: 1;
        display: none;
    }
    #sp-left-navi{
        display: flex;
        justify-content: space-between;
        color: $text-color;
        margin: 1rem;
        overflow: auto;
            white-space: nowrap;
        .acd-check{
            display: none;
        }
        .theme{
            position: relative;
            display: inline-block;
        }
        .acd-label{
            border: 1px $light-gray solid;
            padding: .5rem;
            margin: .3rem;
            border-radius: 2rem;
            font-size: 12px;
            font-weight: bold;
        }
        label:after{
            content: '\f078';
            font-family: 'Font Awesome 5 Free';
            padding-right: 8px;
            font-weight: 900;
            margin-left: .5rem;
        }
        .acd-content{
            display: none;
            position: absolute;
            color: $light-gray;
            padding: 10px;
            width: 100px;
            border: 1px solid $light-gray;
            ul{
                list-style: none;
            }
            &::before{
                content: "";
                position: absolute;
                top: -24px;
                right: 60%;
                border: 15px solid transparent;
                border-top: 15px solid $light-gray;
                margin-left: -15px;
                transform: rotateZ(180deg);
            }
        }

        .acd-check:checked + .acd-label + .acd-content{
            display: inline-block;
            opacity: 1;
            top: 30px;
            left: 0px;
        }
    }
    .small{
        font-size: small;
        margin-left: .5rem;
    }
    .gray{
        color: $text-color;
    }
    .action-buttons{
        font-size: 1.5rem;
        color: $light-gray;
    }
    .fa-book-open{
        margin-right: 1rem;
    }
    .good-button{
        color: red;
        font-size: .9rem;
        .fa-heart{
            margin-right: .3rem;
        }
    }
}
/*--------
メインコンテンツ
-----------*/
/*-- PC --*/
#contents{
    flex: 2;
    order: 2;
    margin: 0 3rem;
    a{
        color: black;
        text-decoration: none;
    }
    img{
        width: 100%;
        height: auto;
    }
    .article{
        border-bottom: 1px solid $light-gray;
        padding: 1rem;

        .author-icon{
            background-color: $main-color;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            text-align: center;
            color: white;
            display: table-cell;
            vertical-align: middle;
        }
        &:hover{
            background-color: $hover;
        }

    }
    .article:first-child{
        padding-top:0;
    }
    .article-info, .author-info{
        display: flex;
        justify-content: space-between;
    }
}
/*-- SP --*/
@media screen and (max-width:767px){
    #contents{
        display: block;
        margin: 0 auto;
        width: 94%;
        .article{
            padding: 0;
        }
    }
}

/*--------
rightナビ
---------*/
/*-- PC --*/
#right-navi{
    flex: 1;
    order: 3;
    .section{
        margin-top: 1rem;
        .follow-content{
            &:hover{
                background-color:$hover;
            }
        }
        .flex,.follow-content{
            display: flex;
            align-items: center;
            p{
                margin-left: 1rem;
                margin-top: 1rem;
                font-size: .8rem;
                font-weight: bold;
                letter-spacing: .1rem;
                &:first-child{
                    margin: 0;
                    font-size: 1rem;
                }
            }
            img{
                margin: .5rem;
            }
        }
        .box{
            border: $light-gray 1px solid;
            border-radius: .2rem;
            margin-top: 1rem;

            img{
                width: 10rem;
                height: 3rem;
                border-top-left-radius: .2rem;
                border-bottom-left-radius: .2rem;
                margin: 0;
            }
            small{
                margin: 0 2rem;
                display: table-cell;
                text-align: center;
                .border{
                    border-bottom: 1px solid black;
                    font-weight: bold;
                    font-size: .7rem;
                }
                .small{
                    font-size: .5rem;
                }
            }
        }
        .recomend{
            justify-content: space-between;
            border-bottom: $light-gray 1px solid;
            padding-left: .5rem;
            &:hover{
                background-color: $hover;
            }
            img{
                padding-bottom: 1rem;
                width: 3rem;
                height: 3rem;
                border-radius: .2rem;
            }
        }
        .border-bottom{
            border-bottom: $light-gray 1px solid;
            padding: .3rem;
            &:hover{
                background-color: $hover;
            }
        }
        .theme{
            font-size: 1.3rem;
            margin-bottom: 0;
        }
    }
    .twitter{
        background-color: #f7f9f9;
        border-radius: .4rem;
        padding: .8rem;
        margin-top: 2.5rem;
        .small{
            margin-left: 0;
        }
        .title{
            font-size: 1.1rem;
            font-weight: bold;
            margin: 0;
        }
        .account-button{
            background-color: #55acee;
            border-color: #55acee;
            color: white;
            border-radius: .2rem;
            width: 93%;
            padding: .5rem;
            text-align: center;

        }
    }
}
.side-footer{
    nav{
        flex: 1;
        order:3;
        display: flex;
        margin-top: 2rem;
    }
}
.follow-img{
    width: 5rem;
    height: 3rem;
    border-radius: .2rem;
}

/*-- SP --*/
@media screen and (max-width:767px){
    .none-sp{
        display: none;
        order: 2;
    }
    .follow{
        color: $light-gray;

    }
    #right-navi{
        .follow-sp{
            display: flex;
            justify-content: space-between;
        }
        .section{
            .flex{
                p{
                    font-weight: lighter;
                    &:first-child{
                        margin: 8px;
                        font-size: 12px;
                    }
                }
            }
            .follow-content{
                display: block;
                width: calc(100% / 4);
                .text-overfllow{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
}